body{
    font-family: 'Comfortaa', sans-serif;
    align-items: center;
    background-color: #a1a1a1;
}


* {
    font-size: 24px;
    font-weight: 400;
}

.bold
{
    font-weight: 700;
}

#content
{
    top: 0;
    bottom: 0;
    width: 700px;
    margin: auto;
}